<% if current_user.already_favorited?(@book) %>
  <p>
  	<%= link_to book_favorites_path(book),method: :delete, remote: true do %>
  	♥<%= book.favorites.count %>いいね
    <% end %>
  </p>
<% else %>
  <p>
  	<%= link_to book_favorites_path(book),method: :post, remote: true do %>
  	♡<%= book.favorites.count %>いいね
  	<% end %>
<% end %>
  </p>